---
- name: Install dependencies on a compute node
  hosts: all

  vars:
    env_name: env # Name of the micromamba environment

    # "python" is not available by default
    # specify a version compatible with ansible
    ansible_python_interpreter: python3.12

    # if configured with `gcloud compute config-ssh`,
    # the necessary private key should be here
    # this is used as the -i argument to ssh
    ansible_ssh_private_key_file: ~/.ssh/google_compute_engine

    # TODO: how to make this not specific to me
    ansible_user: esoth_stanford_edu

  tasks:
    - name: Install dependencies
      args:
        executable: /bin/bash # Ensure bash is used for shell hooks
      ansible.builtin.shell: |

        # install micromamba
        curl -Ls https://micro.mamba.pm/api/micromamba/linux-64/latest | tar -xvj bin/micromamba
        eval "$(./bin/micromamba shell hook -s posix)"
        micromamba --version

        # create and activate the environment
        micromamba create -y -n env python=3.13 gdal natcap.invest==3.17.2
        micromamba activate env

        # activate the environment in future shells
        echo 'echo "activating micromamba env"' >> /etc/bashrc
        echo 'eval "$(./bin/micromamba shell hook -s posix)" && micromamba activate env' >> /etc/bashrc
